.alt-imageloader {
  background-color: #efefef;
}

.alt-imageloader--background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.alt-imageloader__background {
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  opacity: 0;
}

.alt-imageloader__background--active {
  opacity: 1 !important;
}

.alt-imageloader__image {
  display: block;
  width: 100%;
  opacity: 0;
}

